<div class="navigation">

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
  <input type="submit" value="Home" class="btn-primary">
}
@using (Html.BeginForm("Index", "Stylists", FormMethod.Get))
{
  <input type="submit" value="Stylists" class="btn-primary">
}
@using (Html.BeginForm("Index", "Clients", FormMethod.Get))
{
  <input type="submit" value="Clients" class="btn-primary">
}
</div>