.navigation {
  display: flex;
}

.nav-btn {
  background-color: blueviolet;
  color: aliceblue;
  padding: 10px 15px ;
}

.nav-btn:hover {
  background-color: rgb(161, 114, 204);
  color: aliceblue;
  text-decoration: none;
  padding: 10px 15px ;
}